<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.chat.user.mapper.SysPermissionMapper">

    <select id="selectAllOrdered" resultType="com.demo.chat.user.entity.SysPermission">
        SELECT * FROM sys_permission WHERE deleted = 0 ORDER BY id ASC
    </select>

    <select id="selectByPermissionName" resultType="com.demo.chat.user.entity.SysPermission">
        SELECT * FROM sys_permission WHERE permission_name = #{permissionName} AND deleted = 0
    </select>

    <select id="selectByResourceKey" resultType="com.demo.chat.user.entity.SysPermission">
        SELECT * FROM sys_permission WHERE resource_key = #{resourceKey} AND deleted = 0
    </select>

</mapper>
