<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.rag.user.mapper.SysRoleMapper">

    <select id="selectAllOrdered" resultType="com.smart.rag.user.entity.SysRole">
        SELECT * FROM sys_role WHERE deleted = 0 ORDER BY id ASC
    </select>

    <select id="selectByRoleName" resultType="com.smart.rag.user.entity.SysRole">
        SELECT * FROM sys_role WHERE role_name = #{roleName} AND deleted = 0
    </select>

    <select id="selectByIds" resultType="com.smart.rag.user.entity.SysRole">
        SELECT * FROM sys_role WHERE deleted = 0 AND id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
