<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.rag.user.mapper.SysRolePermissionMapper">

    <select id="selectPermissionsByRoleIds" resultType="com.smart.rag.user.entity.SysPermission">
        SELECT DISTINCT p.* FROM sys_permission p
        INNER JOIN sys_role_permission rp ON p.id = rp.permission_id
        WHERE rp.role_id IN
        <foreach collection="roleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND p.status = 1 AND p.deleted = 0
    </select>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_permission WHERE role_id = #{roleId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO sys_role_permission (role_id, permission_id) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.permissionId})
        </foreach>
    </insert>

</mapper>
